body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 60px;
    margin: 0;
    padding-top: 100px;
}

header {
<<<<<<< HEAD
    background-image: linear-gradient(to bottom, #FFF, #333);
    color: #FFFFFF;
=======
    background-image: linear-gradient(to bottom, #777, #555);
    color: #FFF;
>>>>>>> 8be6c5196175ccb9e732587d7a867491294a6545
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

svg {
<<<<<<< HEAD
    width: 75px;
    fill: saddlebrown;
=======
    width: 40px;
    fill: #444;
>>>>>>> 8be6c5196175ccb9e732587d7a867491294a6545
}

@media (min-width: 768px) {
    header {
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-position: center;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 8be6c5196175ccb9e732587d7a867491294a6545
    .row {
        display: flex;
    }

    .col {
        flex-grow: 1;
    }
}